<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="IdeaJdbc"
            id="com.ideamoment.ideajdbctool">
      </category>
      <view
            name="IdeaJdbc Database"
            icon="icons/sample.gif"
            category="com.ideamoment.ideajdbctool"
            class="com.ideamoment.ideajdbctool.views.IdeaJdbcDatabaseView"
            id="com.ideamoment.ideajdbctool.views.IdeaJdbcDatabaseView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.ideamoment.ideajdbctool.views.IdeaJdbcDatabaseView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="com.ideamoment.ideajdbctool.editors.ClauseEditor"
            class="com.ideamoment.ideajdbctool.editors.ClauseEditor"
            matchingStrategy="com.ideamoment.ideajdbctool.editors.ClauseEditorMatchingStrategy"
            name="ClauseEditor">
      </editor>
   </extension>

</plugin>
